body{
        font-family: Arial, Helvetica, sans-serif;
}

h1{
        background: #F75C7B;
        color: White;
        padding: 5px;
        text-align: center;
}
h2{
        background: #FF7D97;
        color: white;
}
